<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <div class="header-content">
            <a href="/" class="logo-link">
                <h1>Movierates</h1>
            </a>
            <nav class="main-nav">
                <a href="/profile" class="btn btn-nav">Mój Katalog</a>
            </nav>
        </div>
    </header>
    <main>