<%- include('partials/header') %>

<form class="add-movie-form" action="/login" method="POST">
    <h2>Logowanie</h2>
    <div class="form-control">
        <label for="username">Nazwa użytkownika</label>
        <input type="text" id="username" name="username" required>
    </div>
    <div class="form-control">
        <label for="password">Hasło</label>
        <input type="password" id="password" name="password" required>
    </div>
    <button type="submit" class="btn">Zaloguj się</button>
    <p class="auth-switch">Nie masz konta? <a href="/register">Zarejestruj się</a></p>
</form>

<%- include('partials/footer') %>